.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: NexaHeavy;
  src: url('/public/nexa-heavy.ttf');
}


.App-header {
  font-family: 'NexaHeavy';
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.App-link {
  color: #61dafb;
}

